[submodule "assets/CFramework"]
	path = H5CommonFrameworkDemo/assets/CFramework
	url = git@github.com:FlyDragonGO/H5CommonFramework.git
	branch = dev-cc
[submodule "H5CommonFrameworkDemo/assets/CRes"]
	path = H5CommonFrameworkDemo/assets/CRes
	url = git@github.com:leogp2022/H5CommonRes.git
